@import '../../../node_modules/swiper/swiper.scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';
@import '@ionic/angular/css/ionic-swiper';
ion-content.background{
    --background:  url("https://wallpapercave.com/wp/wp9314724.jpg");
  }

  ion-toolbar{
    --background:  url("https://wallpapercave.com/wp/wp9314724.jpg");
  }

  ion-input.custom {
    --background: white;
    --color: black;
    --placeholder-color: black;;
      height: 32px;
      width: 160px;
      float: right;
      border-radius: 5px;
      margin-right: 10px;
  }

  ion-item{
    --background: transparent;
  }

  .clickable {
    pointer-events: auto !important;
    }

